
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 55px;
    margin-left: 15%;
}
h3 {
    font-family: Georgia, serif;
    color: rgba(0, 0, 0, .5);
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 22px;
    margin-left: 15%;
}
h5 {
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, .3);
    letter-spacing: 1px;
    margin-left: 15%;
}
p {
    font-family: Georgia, serif;
    width: 70%;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    margin: 0 auto;
}
body {
    background-color: dimgray;
}
ul, li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
li {
    padding-right: 20px;
    opacity: 0.6;
}
li:hover {
    opacity: 1;
}
.content {
    background-color: white;
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    padding-top: 230px;
    padding-bottom: 30px;
}
.heading {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: black;
    height: 180px;
    width: 65%;
    box-shadow: 0 0 20px -3px black;
    border-radius: 5px;
    z-index: 2;
}
.heading span {
    position: absolute;
    top: 50px;
    left: 60px;
    color: #777;
    text-transform: uppercase;
    font-family: 'ProximaNova', sans-serif;
    letter-spacing: 3px;
    font-size: 12px;
}
.icons {
    background-color: goldenrod;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 45px;
    position: absolute;
    top: 200px;
    right: 0;
    box-shadow: 0 0 10px -3px black;
    border-radius: 5px;
    z-index: 1;
}
.text {
    position: absolute;
    top: 70px;
    left: 60px;
    height: 60px;
    width: 94%;
    font-size: 50px;
    background-color: black;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(56, 56, 56);
}
.text:active, .text:hover, .text:focus {
    outline: 0;
    outline-offset: 0;
}
.text::placeholder {
    font-family: PlayfairDisplay;
    color: white;
}

