*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************GENERAL************/

#wrapper {
    width: 1100px;
    height: 100vh;
    margin: 0 auto;
}

/************SEARCH-BTN************/

.search-field{
    font-size: 400%;
    font-family: Calibri;
    color: darkgray;
}

.search-field h1{
 text-align: left;
}

.search-btn {
    height: 200px;
    margin-bottom: 10px;
}

.search-btn > div {
    height: 100%;
    float: left;
}
.search-btn img{
    margin-top: 40px;
}

.search-btn > div:nth-child(1) {
    width: 865px;
    margin-right: 3px;
    line-height: 200px;
    text-align: center;
}
.search-btn > div:nth-child(2) {
    width: 232px;
    line-height: 200px;
    text-align: center;
}

.search-button:hover{
    transform: scale(1.3);
}

/************BLOCKS-HOLDER************/

.blocks-holder {
    height: 600px;
    position: relative;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.block-title {
    height: 50px;
    color: grey;
    font-size: xx-large;
}

.block-item {
    width: 100%;
    height: 65px;
    font-family: Calibri;
    margin-bottom: 5px;
    border-radius:5px;
    background: lightgrey;
    color: grey;
    text-;
}

.block-item > div {
    height: 100%;
    float: left;
}

.block-item > div:nth-child(1) {
    width: 20%;
 }

.block-item > div:nth-child(2) {
    width: 80%;
 }

.block-item:hover{
    border-radius:5px;
    color: red;
    background: darkgray;
}
.pic img{
    margin-top: 7px;
    margin-left: 10px;
}
.text h4{
    font-family: Calibri;
    font-size: large;
    font-weight: inherit;
    margin-left: 10px;
    margin-top: 20px;
}
.round{
    border-radius:100px;
}