#logo{
 position: absolute;
    top: 50px;
    right: 100px;
    transform: rotate(45deg);
}
h1 {
    font-size:130%;
}
body {
    background-color: gainsboro;
    text-decoration: none;
    font-size: 35px;
    color: darkcyan;
    font-family:"Comic Sans MS"
    }
a{
    text-decoration: none;
    color: darkcyan;
}
a:hover{
    color:cyan}