@-webkit-keyframes example {
  from {
    background-color: aliceblue; }
  to {
    background-color: blanchedalmond; } }

@keyframes example {
  from {
    background-color: aliceblue; }
  to {
    background-color: blanchedalmond; } }

* {
  color: cornflowerblue;
  font-family: "Bookman Old Style";
  text-shadow: 1px 1px grey; }

body {
  height: 100vh;
  animation: example 2s alternate-reverse infinite; }

h1 {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  font-weight: inherit;
  margin-left: 50px; }

h2:first-letter {
  text-shadow: 2px 2px grey;
  font-family: "Comic Sans MS";
  font-size: xx-large; }

::-moz-selection {
  color: navajowhite; }

::selection {
  color: navajowhite; }

p {
  text-transform: capitalize;
    text-transform-letter-spacing: 3px; }
