*{
    background-color: lightgrey;
}
div{
 font-family: Calibri;
}
.class{
    color: darkcyan;
}
#id{
  color: mediumturquoise;
}
div p{
 font-max-size: small;
}
div>p{
 font-size: xx-large;
}
main:active{

}
b:hover{

}
ul:disabled{

}
p:last-child{
   font-family: "Bookman Old Style";
}
p:first-letter{
    font-size: x-large;
}
::selection{
    color: red;
}
li:after{
    color: chartreuse;
}
li:before{
    color: coral;
}
li:empty{
    background-color: cornflowerblue;
}